<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">My Stores</a>
    <div class="dropdown-menu">
      <% current_user.stores.each do |store| %>
      <%= link_to store.name, store_manager_dashboard_index_path(store.slug), class: "dropdown-item" %>
      <% end %>
    </div>
</li>
